<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/39c8dd6f-c61f-48c3-a34b-0a97b19f480e/resourceGroups/JeanStation/providers/Microsoft.Web/sites/JeanStationFileUplaodService</ResourceId>
    <ResourceGroup>JeanStation</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jeanstationfileuplaodservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>bf3648db-2b56-426e-bf95-90e4b6f9b648</ProjectGuid>
    <PublishUrl>https://jeanstationfileuplaodservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$JeanStationFileUplaodService</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>