<div *ngIf="wishlistItems.length == 0" class="alert alert-info">
    <div class="container d-flex justify-content-center">
        <div class="card ">
            <h3 class="card-title" style="text-align: center;">My WhishList</h3>

            <div class="card-body">
                <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
                    alt="" width="50%" style="position: relative; left: 15%;">
                <h4 style="text-align: center;">Your Whislist is Empty!</h4>
                <h6 style="text-align: center;">Add item to it now</h6>
                <button type="button active" class="btn btn-dark" style="margin-left: 44%;" routerLink="/product">Shop
                    Now</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="wishlistItems.length > 0" >
    <div fxLayout="row wrap" fxLayoutGap="16px grid"  >
        <div fxFlex="20%" fxFlex.xs="60%" fxFlex.sm="33%" *ngFor="let item of wishlistItems" >
            <mat-card class="mat-elevation-z4">
                <!-- <div fxLayout="row">
                    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"> -->
                        <img mat-card-image [src]="item.itemImg1" alt="Photo of a Shiba Inu">
                        <mat-card-header>
                            <mat-card-title>{{item.itemBrandName}}</mat-card-title>
                            <mat-card-subtitle>{{item.itemName}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <!-- <p><strong>Name: </strong>{{item.itemName}}</p> -->

                            <p><strong>Price: </strong>{{item.itemPrice}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button  type="button"
                                (click)="removeFromWishlist(item.itemId)">Remove From Whislist<mat-icon>
                                    shopping_cart</mat-icon></button>

                        </mat-card-actions>
                    <!-- </div> -->
                <!-- </div> -->
            </mat-card>
        </div>
    </div>
</div>
